﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon">
            <i class="fa fa-edit"></i>
        </span>
        <h2> Change Password </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="widget-body no-padding">

            <form asp-action="ChangePassword" class="smart-form" novalidate="novalidate">

                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="OldPassword" placeholder="Old Password">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="NewPassword" placeholder="New Password">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-prepend fa fa-envelope-o"></i>
                                <input type="text" asp-for="ConfirmPassword" placeholder="Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </label>
                        </section>
                    </div>
                </fieldset>

                <footer>
                    <button type="submit" class="btn btn-primary">
                        Change Password
                    </button>
                </footer>
            </form>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->
