﻿@model JobConfigItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon">
            <i class="fa fa-edit"></i>
        </span>
        <h2>Job Configuration </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="widget-body no-padding">

            <form asp-action="Config" class="smart-form" novalidate="novalidate">

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="JobName" readonly="readonly">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="JobDetail" readonly="readonly">
                            </label>
                        </section>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <section class="col col-3">
                            <label class="checkbox">
                                <input type="checkbox" name="Hot" asp-for="Hot">
                                <i></i> Hot
                            </label>
                        </section>
                        <section class="col col-3">
                            <label class="checkbox">
                                <input type="checkbox" name="NotifyOnFailure" asp-for="NotifyOnFailure">
                                <i></i> NotifyOnFailure
                            </label>
                        </section>
                        <section class="col col-3">
                            <label class="checkbox">
                                <input type="checkbox" name="NotifyOnDelay" asp-for="NotifyOnDelay">
                                <i></i> NotifyOnDelay
                            </label>
                        </section>

                        <section class="col col-3">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="ThresholdForDelay" placeholder="ThresholdForDelay">
                                <span asp-validation-for="ThresholdForDelay" class="text-danger"></span>
                            </label>
                        </section>
                    </div>

                </fieldset>

                <footer>
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                    <a asp-action="Index">Back to List</a>
                </footer>
            </form>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->
