﻿@model IEnumerable<UserItem>
<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1"
                 data-widget-togglebutton="false" data-widget-colorbutton="false"
                 data-widget-deletebutton="false" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2> User Management </h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <table id="userdatatable" class="table table-striped table-bordered" width="100%">

                            <thead>
                                <tr>
                                    <th class="hasinput" style="width: 10%">
                                        <input type="text" class="form-control" placeholder="Filter Group Name" />
                                    </th>
                                    <th class="hasinput" style="width: 10%">
                                        <input type="text" class="form-control" placeholder="Filter Role Name" />
                                    </th>
                                    <th class="hasinput" style="width: 10%">
                                        <input type="text" class="form-control" placeholder="Filter Name" />
                                    </th>
                                    <th class="hasinput" style="width: 10%">
                                        <input type="text" class="form-control" placeholder="Filter Surname" />
                                    </th>
                                    <th class="hasinput" style="width: 10%">
                                        <input type="text" class="form-control" placeholder="Filter UserName" />
                                    </th>
                                    <th class="hasinput" style="width: 10%">
                                        <input type="text" class="form-control" placeholder="Filter Email" />
                                    </th>
                                    <th class="hasinput" style="width: 10%">
                                        <input type="text" class="form-control" placeholder="Filter Action" />
                                    </th>
                                </tr>
                                <tr>
                                    <th>Group Name</th>
                                    <th>Role Name</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.GroupName)</td>
                                    <td> @Html.DisplayFor(modelItem => item.RoleName)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Name)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Surname)</td>
                                    <td> @Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Remove", "Remove", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" }) |
                                        @if (!item.EmailConfirmed)
                                        {
                                            @Html.ActionLink("SendEmail", "SendEmail", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to send mail?');" })
                                        }
                                    </td>
                                </tr>
                                }

                            </tbody>

                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
    <!-- end row -->

</section>
<!-- end widget grid -->
@section Scripts {
    <script type="text/javascript">

        /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

        pageSetUp();

        /*
         * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
         * eg alert("my home function");
         *
         * var pagefunction = function() {
         *   ...
         * }
         * loadScript("/js/plugin/_PLUGIN_NAME_.js", pagefunction);
         *
         */

        // PAGE RELATED SCRIPTS

        // pagefunction
        var pagefunction = function () {
            //console.log("cleared");

            /* // DOM Position key index //

                l - Length changing (dropdown)
                f - Filtering input (search)
                t - The Table! (datatable)
                i - Information (records)
                p - Pagination (paging)
                r - pRocessing
                < and > - div elements
                <"#id" and > - div with an id
                <"class" and > - div with a class
                <"#id.class" and > - div with an id and class

                Also see: http://legacy.datatables.net/usage/features
            */

            var responsiveHelper_datatable_fixed_column = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            /* COLUMN FILTER  */
            var otable = $('#userdatatable').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column =
                            new ResponsiveDatatablesHelper($('#userdatatable'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });


            $("div.toolbar")
                .html(
                    '<a href="/User/Create" class="DTTT_button" style="float:right;" aria-controls="datatable_tabletools"><span>Create</span></a>');

            // Apply the filter
            $("#userdatatable thead th input[type=text]").on('keyup change',
                function () {

                    otable
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();

                });
            /* END COLUMN FILTER */



        };

        // load related plugins

        loadScript("/js/plugin/datatables/jquery.dataTables.min.js",
            function () {
                loadScript("/js/plugin/datatables/dataTables.colVis.min.js",
                    function () {
                        loadScript("/js/plugin/datatables/dataTables.tableTools.min.js",
                            function () {
                                loadScript("/js/plugin/datatables/dataTables.bootstrap.min.js",
                                    function () {
                                        loadScript("/js/plugin/datatable-responsive/datatables.responsive.min.js",
                                            pagefunction);
                                    });
                            });
                    });
            });


    </script>
}
