﻿<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />

    <title>SysMon</title>
    <meta name="description" content="SysMon" />
    <meta name="author" content="SysMon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Basic Styles -->
    @{ await Html.RenderPartialAsync("_StylesheetsPartial"); }

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon" />

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" />

    <!-- Specifying a Webpage Icon for Web Clip Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/img/splash/sptouch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/splash/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/splash/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/splash/touch-icon-ipad-retina.png" />

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    <link rel="apple-touch-startup-image" href="~/img/splash/iphone.png" media="screen and (max-device-width: 320px)" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>
<body>
    @{ await Html.RenderPartialAsync("_Header"); }
    @{ await Html.RenderPartialAsync("_Navigation"); }
    <!-- MAIN PANEL -->
    <div id="main" role="main">
        @*@{ await Html.RenderPartialAsync("_Ribbon"); }*@
        <!-- MAIN CONTENT -->
        <div id="content">
            @RenderBody()
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN PANEL -->
    @{ await Html.RenderPartialAsync("_Footer"); }
    @*@{ await Html.RenderPartialAsync("_Shortcuts"); }*@
    @{ await Html.RenderPartialAsync("_Scripts"); }
    <environment include="Development">
        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/js/plugin/pace/pace.js"></script>

        <!-- Demo purpose only -->
        @*<script src="~/js/demo.js"></script>*@
    </environment>
    <environment exclude="Development">
        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/js/plugin/pace/pace.min.js"></script>

        <!-- Demo purpose only -->
        @*<script src="~/js/demo.min.js" asp-append-version="true"></script>*@
    </environment>
    <script>
        $(function () {
            // DO NOT REMOVE : GLOBAL FUNCTIONS!
            pageSetUp();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
