
@inject UserManager<User> UserManager

@{
    var currentUser = @UserManager.GetUserAsync(User);
    var userRoles = @UserManager.GetRolesAsync(currentUser.Result);
    var roleName = userRoles.Result.FirstOrDefault();
};

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    <!-- User info -->
    <div class="login-info">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as it -->
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="~/img/avatars/sunny.png" alt="me" class="online" />
                <span>
                    @User.Identity.Name
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
        </span>
    </div>
   
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent"> My Account</span>
                </a>
                <ul>
                    <li is-active-route asp-controller="Manage" asp-action="Index">
                        <a asp-controller="Manage" asp-action="Index" title="Empty">
                            <span class="menu-item-parent">My Profile</span>
                        </a>
                    </li>
                    <li is-active-route asp-controller="Manage" asp-action="ChangePassword">
                        <a asp-controller="Manage" asp-action="ChangePassword" title="Empty">
                            <span class="menu-item-parent">Change Password</span>
                        </a>
                    </li>
                    <li is-active-route asp-controller="Account" asp-action="LogOff">
                        <a asp-controller="Account" asp-action="LogOff" title="Empty">
                            <span class="menu-item-parent">Log Off</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li is-active-route asp-controller="Home">
                <a href="#" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span>
                </a>
                <ul>
                    @if (User.IsInRole("SysmonUser"))
                    {
                        <li is-active-route asp-controller="Job" asp-action="Index">
                            <a asp-controller="Job" asp-action="Index" title="Empty">
                                <span class="menu-item-parent">Config Job</span>
                            </a>
                        </li>
                        <li is-active-route asp-controller="Job" asp-action="MyJob">
                            <a asp-controller="Job" asp-action="MyJob" title="Empty">
                                <span class="menu-item-parent">My Job</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li is-active-route asp-controller="Job" asp-action="Index">
                            <a asp-controller="Job" asp-action="Index" title="Empty">
                                <span class="menu-item-parent">Config Job</span>
                            </a>
                        </li>
                        <li is-active-route asp-controller="Job" asp-action="MyJob">
                            <a asp-controller="Job" asp-action="MyJob" title="Empty">
                                <span class="menu-item-parent">My Job</span>
                            </a>
                        </li>
                        <li is-active-route asp-controller="Job" asp-action="MyGroupJob">
                            <a asp-controller="Job" asp-action="MyGroupJob" title="Empty">
                                <span class="menu-item-parent">My Group Job</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("SystemAdmin"))
                    {
                        <li is-active-route asp-controller="Group" asp-action="Index">
                            <a asp-controller="Group" asp-action="Index" title="Empty">
                                <span class="menu-item-parent">Groups</span>
                            </a>
                        </li>
                        <li is-active-route asp-controller="Watcher" asp-action="Index">
                            <a asp-controller="Watcher" asp-action="Index" title="Empty">
                                <span class="menu-item-parent">Watchers</span>
                            </a>
                        </li>
                        <li is-active-route asp-controller="User" asp-action="Index">
                            <a asp-controller="User" asp-action="Index" title="Empty">
                                <span class="menu-item-parent">Users</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
            @if (User.IsInRole("SystemAdmin"))
            {
                <li>
                    <a href="#">
                        <i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent"> System </span>
                    </a>
                    <ul>
                        <li is-active-route asp-controller="Config" asp-action="Index">
                            <a asp-controller="Config" asp-action="Index" title="Empty">
                                <span class="menu-item-parent">Configuration</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<!-- END NAVIGATION -->
