﻿@model ConfigItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon">
            <i class="fa fa-edit"></i>
        </span>
        <h2> System Configuration</h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="widget-body no-padding">

            <form asp-action="Index" class="smart-form" novalidate="novalidate">

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-server"></i>
                                <input type="text" asp-for="SmtpServer" placeholder="Smtp Server">
                                <span asp-validation-for="SmtpServer" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-navicon"></i>
                                <input type="text" asp-for="SmtpPort" placeholder="Smtp Port">
                                <span asp-validation-for="SmtpPort" class="text-danger"></span>
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-envelope-o"></i>
                                <input type="email" asp-for="SmtpUserName" placeholder="Smtp UserName">
                                <span asp-validation-for="SmtpUserName" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-phone"></i>
                                <input type="password" placeholder="Smtp Password" asp-for="SmtpPassword">
                                <span asp-validation-for="SmtpPassword" class="text-danger"></span>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-envelope-o"></i>
                                <input type="text" asp-for="Subject" placeholder="Mail Subject">
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </label>
                        </section>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-server"></i>
                                <input type="text" asp-for="AlertRepetition" placeholder="Alert Repetition">
                                <span asp-validation-for="AlertRepetition" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-navicon"></i>
                                <input type="text" asp-for="AlertRepetitionRange" placeholder="Alert Repetition Range">
                                <span asp-validation-for="AlertRepetitionRange" class="text-danger"></span>
                            </label>
                        </section>
                    </div>
                </fieldset>


                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </footer>
            </form>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->
