﻿@model WatcherItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon">
            <i class="fa fa-edit"></i>
        </span>
        <h2>Watcher Create </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="widget-body no-padding">

            <form asp-action="Create" class="smart-form" novalidate="novalidate">

                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="Name" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="Email" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="PhoneNumber" placeholder="PhoneNumber">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="ManagerName" placeholder="ManagerName">
                                <span asp-validation-for="ManagerName" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="ManagerEmail" placeholder="ManagerEmail">
                                <span asp-validation-for="ManagerEmail" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" asp-for="ManagerPhone" placeholder="ManagerPhone">
                                <span asp-validation-for="ManagerPhone" class="text-danger"></span>
                            </label>
                        </section>
                        <section class="col col-3">
                            <label class="checkbox">
                                <input type="checkbox" name="IsWatcher" asp-for="IsWatcher">
                                <i></i> IsWatcher
                            </label>
                        </section>
                    </div>
                </fieldset>
                
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="select">
                                <select asp-for="GroupId" asp-items="@(new SelectList(ViewBag.ListOfGroup,"Key","Value"))">
                                    <option value="0" selected="" disabled="">Groups</option>
                                </select>
                            </label>
                        </section>
                    </div>
                </fieldset>

                <footer>
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                    <a asp-action="Index">Back to List</a>
                </footer>
            </form>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->
